@font-face {
  src: url(fonts/Carmen-Sans-Bold.otf);
  font-family: Carmen;
}
@font-face {
  src: url(fonts/Carmen-Sans-Light.otf);
    font-family: CarmenL;
}

h1 {
    font-family: Carmen;
    white-space: nowrap; 
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    margin: 0 0 10px;
    color: #2f2f2f;
  }

input
{
  top: 30px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}
input[type="text"]
{
  font-size: 12px;
  text-align: left;
  font-family: CarmenL;
  margin: 0 0 0;
  width: 250px;
  height: 30px;
  border: 1px solid #777373;
  background-color: white;
  outline-width: 0.01em;
  padding: 0 10px;
  border-radius: 5px 5px 5px 5px;
}
input[type="text"]:active, input[type="text"]:focus{
  border: 1px solid #b5373a;
  background-color: white;
  outline: none;
}
#add
{
  left: 20px;
  font-size: 12px;
  font-family: Carmen;
  text-align: center;
  color: #b5373a;
  background-color: #fcebe4;
  outline-width: 0.01em;
  border: 1px solid #b5373a;
  width: 90px;
  position: relative;
  margin-top: 10px;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
}
#add:hover
{
  background-color: #b5373a;
  color: white;
}
#clear
{ 
  position: fixed;
  margin-top: 3%;
  margin-left: 35%;
  width: 130px;
  height: 30px;
  color: #b5373a;
  text-decoration: underline;
  font-size: 12px;
  text-align: right;
  font-family: CarmenL;
  border: 1px solid white;
  background-color: white;
}
#clear:active,  input[type="remove"]:focus{
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
ol li 
{
  position: relative;
  top: 50px;
  width: 400px;
  height: 60px;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: Carmen;
  border: 1px solid white;
  background-color: white;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 1px 2px 3px 2px #636363;
}
